@import "modern-normalize/modern-normalize.css" layer;

:root {
  color-scheme: light dark;

  /* Typography */
  font-family: "Inter", sans-serif;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;


  /* Spacing */
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;

  /* Colors */
  --color-background: light-dark(oklch(97% 0 0), oklch(15% 0 0));
  --color-primary: light-dark(oklch(85% 0 0), oklch(40% 0 0));
  --color-text: light-dark(oklch(10% 0 0), oklch(95% 0 0));
  --color-border: light-dark(oklch(92% 0 0), oklch(25% 0 0));
  --color-green: light-dark(oklch(57% 0.12 135.74), oklch(57% 0.12 135.74));
  --color-hover: light-dark(oklch(90% 0 0), oklch(30% 0 0));
  --color-active: light-dark(oklch(85% 0 0), oklch(40% 0 0));

  /* Buttons */
  --button-color-text: light-dark(oklch(98% 0 0), oklch(100% 0 0));
  --button-color-background: light-dark(oklch(30% 0.02 250), oklch(50% 0.02 250));
  --button-color-hover: light-dark(oklch(40% 0.02 250), oklch(55% 0.02 250));
  --button-height: 48px;
  /* TODO: add active state */

  /* Borders */
  --border-radius-8: 0.5rem;
  --border-radius-12: 0.75rem;

  /* Transitions */
  --transition-fast: 0.15s;
  --theme-easing: ease-out;
  --easing-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);

  /* Breakpoints */
  --breakpoint-tablet: 768px;
}

@layer {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition:
      background-color var(--transition-fast) var(--theme-easing),
      color var(--transition-fast) var(--theme-easing);
  }

  /* Disable tap highlight color */
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* Reset button default styles */
  button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
  }
}
